Repository dask/dask-gateway, pull requests merged in 2022-10, with the labels that each got.

#606 Helm chart: add gateway.backend.imagePullSecrets
  dask-gateway-server/dask_gateway_server/backends/kubernetes/backend.py
  dask-gateway-server/dask_gateway_server/backends/kubernetes/controller.py
  resources/helm/dask-gateway/templates/gateway/configmap.yaml
  resources/helm/dask-gateway/values.schema.yaml
  resources/helm/dask-gateway/values.yaml
Labels: codebase:helm-chart, new

#613 ci: declare python version and avoid warnings
  .github/workflows/build-publish-helm-chart.yaml
  .github/workflows/build-publish-python-packages.yaml
  .github/workflows/test.yaml
Labels: ci

#611 refactor: use traefik documented syntax for cli flags
  resources/helm/dask-gateway/templates/traefik/deployment.yaml
Labels: codebase:helm-chart, maintenance

#612 Simplified integration with namespace local JupyterHub Helm charts
  docs/source/install-kube.rst
  resources/helm/dask-gateway/templates/gateway/deployment.yaml
  resources/helm/dask-gateway/templates/gateway/secret.yaml
  resources/helm/dask-gateway/values.schema.yaml
  resources/helm/dask-gateway/values.yaml
Labels: codebase:helm-chart, new

#615 Add changelog for 2022.10.0
  docs/source/changelog.md
Labels: documentation

#619 Update changelog for 2022.10.0
  docs/source/changelog.md
Labels: documentation

#620 ci: test against latest versions of k8s
  .github/workflows/test.yaml
Labels: ci

#621 helm chart: update traefik to 2.9.1 and the associated CRDs
  resources/helm/dask-gateway/crds/traefik.yaml
  resources/helm/dask-gateway/values.yaml
Labels: codebase:helm-chart, maintenance
