Repository dask/dask-gateway, pull requests merged in 2025-02, with the labels that each got.

#857 helm-chart: add `traefik.installTraefik` config to opt-out when traefik is installed separately
  .github/workflows/test.yaml
  docs/source/install-kube.rst
  resources/helm/dask-gateway/templates/traefik/dashboard.yaml
  resources/helm/dask-gateway/templates/traefik/deployment.yaml
  resources/helm/dask-gateway/templates/traefik/rbac.yaml
  resources/helm/dask-gateway/templates/traefik/service.yaml
  resources/helm/dask-gateway/values.schema.yaml
  resources/helm/dask-gateway/values.yaml
Labels: codebase:helm-chart

#853 helm-chart: remove deprecated use of traefik middleware's forceSlash option
  resources/helm/dask-gateway/templates/gateway/middleware.yaml
Labels: codebase:helm-chart, maintenance

#861 Ignore aiohttp warning recommending use of web.AppKey
  dask-gateway-server/dask_gateway_server/app.py
  dask-gateway-server/dask_gateway_server/backends/kubernetes/controller.py
Labels: codebase:dask-gateway-server, maintenance

#862 update jupyterhub user url
  dask-gateway-server/dask_gateway_server/auth.py
  tests/test_auth.py
Labels: codebase:dask-gateway-server, maintenance

#864 Adjust to aiohttp deprecation about configuring shutdown_timeout
  dask-gateway-server/dask_gateway_server/app.py
  dask-gateway-server/dask_gateway_server/backends/kubernetes/controller.py
  dask-gateway-server/requirements.txt
Labels: codebase:dask-gateway-server, maintenance

#865 Adjust to distributed deprecation about SchedulerPlugin's method signatures
  dask-gateway/dask_gateway/scheduler_preload.py
Labels: codebase:dask-gateway, maintenance

#866 Adjust to pytest-asyncio deprecation about asyncio_default_fixture_loop_scope
  pyproject.toml
Labels: ci

#867 ci: configure actions/setup-go to find go.sum file for caching purposes
  .github/workflows/build-publish-python-packages.yaml
  .github/workflows/test.yaml
Labels: ci

#868 ci: use go 1.21 to build and publish dask-gateway-server to PyPI
  .github/workflows/build-publish-python-packages.yaml
Labels: ci

#871 tests: add fixme notes about warnings
  tests/test_client.py
Labels: documentation

#870 helm-chart: upgrade dask-gateway-server to use Python 3.13 (from 3.11)
  dask-gateway-server/Dockerfile
Labels: codebase:helm-chart, maintenance

#873 Migrate go code to function in go 1.22+
  .github/workflows/build-publish-python-packages.yaml
  .github/workflows/test.yaml
  continuous_integration/docker/base/Dockerfile
  dask-gateway-server/dask-gateway-proxy/go.mod
  dask-gateway-server/dask-gateway-proxy/pkg/sni/sni.go
Labels: maintenance, codebase:dask-gateway-proxy

#874 Migrate from setuptools to hatchling
  .github/workflows/build-publish-python-packages.yaml
  dask-gateway-server/LICENSE
  dask-gateway-server/MANIFEST.in
  dask-gateway-server/hatch_build.py
  dask-gateway-server/pyproject.toml
  dask-gateway-server/requirements.txt
  dask-gateway-server/setup.py
  dask-gateway/LICENSE
  dask-gateway/MANIFEST.in
  dask-gateway/pyproject.toml
  dask-gateway/requirements.txt
  dask-gateway/setup.py
  docs/requirements.txt
  pyproject.toml
  tests/requirements.txt
Labels: codebase:dask-gateway, codebase:dask-gateway-server, maintenance

#879 Bump to 2025.2.0-0.dev
  dask-gateway-server/dask_gateway_server/_version.py
  dask-gateway-server/pyproject.toml
  dask-gateway/dask_gateway/_version.py
  dask-gateway/pyproject.toml
  pyproject.toml
  resources/helm/dask-gateway/Chart.yaml
Labels: maintenance

#883 Fix typo in SLURM backend.
  dask-gateway-server/dask_gateway_server/backends/jobqueue/slurm.py
Labels: bug, codebase:dask-gateway-server
